@model GildedRose.Web.Services.Products.ViewModels.ProductModel

<div class="row">
    <div class="form-group col-12">
        <a asp-action="Index">Search Products</a> / <span>@Model.Name</span>
    </div>
    @* Image on the left. *@
    <div class="col-12 col-xl-6">
        @if (Model.Images.Any())
        {
            if (Model.Images.Count == 1)
            {
                <img class="card-img-top img-fluid border" src="@Model.Images.FirstOrDefault().ImageContent" />
            }
            else
            {
                <div id="product-carousel" class="carousel slide" data-ride="carousel">
                    <ol class="carousel-indicators">
                        @for (var i = 0; i < Model.Images.Count; i++)
                        {
                            if (i == 0)
                            {
                                <li data-target="#product-carousel" data-slide-to="0" class="active"></li>
                            }
                            else
                            {
                                <li data-target="#product-carousel" data-slide-to="@i"></li>
                            }
                        }
                    </ol>
                    <div class="carousel-inner">
                        @for (var i = 0; i < Model.Images.Count; i++)
                        {
                            if (i == 0)
                            {
                                <div class="carousel-item active">
                                    <img class="d-block img-fluid w-100" src="@Model.Images[i].ImageContent">
                                </div>
                            }
                            else
                            {
                                <div class="carousel-item">
                                    <img class="d-block img-fluid w-100" src="@Model.Images[i].ImageContent">
                                </div>
                            }
                        }
                    </div>
                    <a class="carousel-control-prev" href="#product-carousel" role="button" data-slide="prev">
                        <span class="carousel-control-prev-icon" aria-hidden="true"></span>
                        <span class="sr-only">Previous</span>
                    </a>
                    <a class="carousel-control-next" href="#product-carousel" role="button" data-slide="next">
                        <span class="carousel-control-next-icon" aria-hidden="true"></span>
                        <span class="sr-only">Next</span>
                    </a>
                </div>

            }
        }
        else
        {
            <img class="card-img-top img-fluid border" src="~/images/no-img-default.png" />
        }
    </div>
    @* Description on the right *@
    <form class="d-none" id="purchase-form">
        @Html.AntiForgeryToken()
        @Html.HiddenFor(x => x.Id)
    </form>
    <div class="col-12 col-xl-6 d-flex flex-column">
        <div class="d-flex flex-row">
            <h2 class="flex-grow-1">@Model.Name</h2>
            <h4 class="align-self-end">$@Model.UnitCost</h4>
        </div>
        <div>
            <p class="gr-text-upper">
                @if (Model.StockCount >= 5)
                {
                    <span class="text-success" id="stock-count-container"><span id="stock-count">@Model.StockCount</span> In Stock!</span>
                }
                else if (Model.StockCount < 5 && Model.StockCount > 0)
                {
                    <span class="text-warning" id="stock-count-container"><span id="stock-count">@Model.StockCount</span>  In Stock!</span>
                }
                else
                {
                    <span class="text-danger" id="stock-count-container"><span id="stock-count">@Model.StockCount</span>  In Stock!</span>
                }

            </p>
        </div>

        <p>@Model.Description</p>

        <div class="mt-5">
            @if (User.Identity.IsAuthenticated)
            {
                @if(Model.StockCount > 0)
                {
                <button class="btn btn-success rounded-0 text-center w-100" data-toggle="modal" data-target="#purchase-modal" id="purchase-button">Purchase</button>
                <div id="purchase-modal" class="modal fade">
                    <div class="modal-dialog modal-dialog-centered" role="document">
                        <div class="modal-content">
                            <div id="purchase-modal-content">
                            </div>
                            <div id="loading-indicator" class="p-4" style="display: none">
                                <div class="d-flex flex-column align-items-center">
                                    <div class="lds-roller">
                                        <div></div>
                                        <div></div>
                                        <div></div>
                                        <div></div>
                                        <div></div>
                                        <div></div>
                                        <div></div>
                                        <div></div>
                                    </div>
                                    <br />
                                    <h4>Finalizing Transaction</h4>
                                </div>
                            </div>

                        </div>
                    </div>
                </div>


                <script>
                    $("#purchase-button").on('click', function () {
                        console.log("Displaying the template")
                        $("#purchase-modal-content").html($("#purchase-modal-base").html())
                    })

                    //js on confirm purchase, ajax call the request. receive a transaction result partial that we will populate into our modal.
                    $("#purchase-modal").on("click","#confirm-purchase",
                        function () {
                        $("#purchase-modal-content").hide();
                        $("#loading-indicator").show();
                            $.ajax({
                                type: "POST",
                                url: "@Url.Action("PurchaseProduct","Home", new{ProductId = Model.Id})",
                                success: function(data) {
                                    $("#purchase-modal-content").html(data);
                                    $("#loading-indicator").hide();
                                    $("#purchase-modal-content").show();
                                }
                            });
                        });


                </script>
                } else
                {
                    <button class="btn btn-secondary rounded-0 text-center w-100" disabled>Out Of Stock</button>
                }
            }
            else //we force unathenticated users to log in.
            {
                <a asp-area="Identity" asp-page="/Account/Login" asp-route-returlUrl="@Url.Action("ProductInformation","Home", new{productId = Model.Id})" class="btn btn-primary rounded-0 text-center w-100">Log In to Purchase</a>
            }
        </div>
    </div>
</div>

<template id="purchase-modal-base">
    <div class="modal-header"><h4 class="mb-0">Finalize Purchase</h4></div>
    <div class="modal-body">
        <p>You are about to pruchase the following.</p>
        <table class="table table-striped">
            <tbody>
                <tr>
                    <td>@Model.Name</td>
                    <td>$@Model.UnitCost</td>
                </tr>
            </tbody>
        </table>
    </div>
    <div class="modal-footer text-right">
        <button class="btn rounded-0 text-primary" data-dismiss="modal">Cancel</button>
        <button class="btn btn-success rounded-0" id="confirm-purchase">Confirm</button>
    </div>
</template>

<template id="out-of-stock">
    <button class="btn btn-secondary rounded-0 text-center w-100" disabled>Out Of Stock</button>
</template>

<script>
    function updateStock(stockCount) {
        console.log(stockCount)
        var container = $("#stock-count-container")
        container.removeClass();
        if (stockCount == 0) {
            container.addClass("text-danger");
            $("#purchase-button").replaceWith($("#out-of-stock").html())


        } else if (stockCount > 0 && stockCount <= 5) {
            container.addClass("text-warning");
        } else {
            container.addClass("text-success");
        }
        $("#stock-count").html(stockCount);

    }
</script>